<div class="body">
    <div class="main">
        <div class="div">
            <h1>WEBSITE DEVELOPMENT</h1>
            <br>
            <h6><a style="color: white;" [routerLink]="['/service']"><i class="fa fa-house fa-sm"></i> Services</a> .
                Website
                Development
            </h6>
            <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m"></i> -->
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6"> <br> <br>
                <h1>Web Design And Development Service</h1> <br>
                <p style="text-align: justify;">
                    Develop your Website to show off your work. Having a website is an opportunity to make a great first
                    impression and give people comfort that you're a real business. Website is essential for offering
                    social proof
                    and establishing your credibility as a business. If you want to succeed in business, invest in a
                    website.
                    It’s the best way to offer social proof and build trust with potential customers. <br><br>
                    We bring your idea of your brand to life, with creative web design professionals at Yashus. Impress
                    your
                    customers with contemporary designs that will help them build a strong perception of your business.
                    As website designs are constantly evolving in this fast paced digital world, we offer you quality
                    design solutions that sets you apart from the crowd.
                </p>
                <p><b>Our creative website design solutions :</b></p>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i> Provide engaging designs</li>
                    <li><i class="fa-solid fa-circle-check"></i> Craft designs that enhance your brand</li>
                    <li><i class="fa-solid fa-circle-check"></i> Create responsive website designs</li>
                    <li><i class="fa-solid fa-circle-check"></i> Achieve your business goals</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="img" src="/assets/images/Websitedevelopment.png" alt="">
                <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m3"></i> -->
                <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m"></i> -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="img" src="/assets/images/UIUXdesign.png" alt="">
                <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m"></i> -->
            </div>

            <div class="col-md-6"> <br><br>
                <br> <br><br>
                <h1>Website UI & UX Design </h1> <br>
                <p style="text-align: justify;">We bring your idea of your brand to life, with creative web design
                    professionals at Yashus. Impress your
                    customers with contemporary designs that will help them build a strong perception of your business.
                    As
                    website designs are constantly evolving in this fast paced digital world.</p>
                <br>
                <p><b>We offer you quality design
                        solutions that sets you apart from the crowd.</b></p>

                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i> Provide engaging designs</li>
                    <li><i class="fa-solid fa-circle-check"></i> Craft designs that enhance your brand</li>
                    <li><i class="fa-solid fa-circle-check"></i> Create responsive website designs</li>
                    <li><i class="fa-solid fa-circle-check"></i> Achieve your business goals</li>
                </ul>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <br>
        <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m3"></i> -->

        <h4>TYPES OF WEBSITES DEVELOPED </h4>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/Static-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Static Website Development</h5>
                        <p class="card-text">Get a Simple Static Website For Your Business Just only To Show Information
                            Without Any Complex Functionality . Click Here to know More features And Details.</p>
                    </div>
                </div> <br>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/Dynamic-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Dynamic Website Development</h5>
                        <p class="card-text">

                            Get a Dynamic Website Development For Your business With Modern Design and complex Functions
                            To Take your Business Online . Our Click here To view More details And see the Pricing.
                        </p>
                    </div>
                    <!-- <i style="color:rgb(113, 6, 132);" class="fa-regular fa-star m"></i> -->

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/Ecommerce-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> Ecommerce Website Development</h5>
                        <p class="card-text">
                            Get A Single Vendor or Multivendor Ecommerce Website For Your Online Shopping Business And
                            Start Selling With Your New brand ecommerce Website . Click here To View Our Plans and
                            Complete Details.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m"></i> -->

        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/One-Page-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">One-Page Website Development</h5>
                        <p class="card-text">
                            Get A One-Page Website Development for your business With A Simple And fantastic Design And
                            a Responsive One Page Website. Click here to View more details And Our Plans .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/Corporate-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Corporate Website Development</h5>
                        <p class="card-text">
                            Do you Have a company, or a Multi National Brand , So we think that You need to have a
                            Website For Your corporate . Get a Corporate website Development With all Corporate
                            functionality, Click here to Know More Details.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/Customized-Website-Development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Customized Website Development</h5>
                        <p class="card-text">
                            Almost any functionality that a client wants
                            can be coded and integrated into the website, android application and CMS, Required A
                            Customize Website Development, So get A Customize Development To meet All the Best
                            Requirements, Click here To know More Details..</p>
                    </div>
                </div>
                <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m"></i> -->

            </div>
        </div>

    </div>
    <br>
</div>