<div class="body"> 
    <div class="main">
        <div class="div">
            <h1>MARKETING</h1>
            <br>
            <h6><a style="color: white;" [routerLink]="['/service']"><i class="fa fa-house fa-sm"></i> Service</a> . Marketing
            </h6>
            <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m3"></i> -->
    
        </div>
    </div>
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m3"></i> -->
                <h1>Digital Marketing</h1> <br>
                <p>Digital marketing, also called online marketing, refers to all marketing efforts that occur on the
                    internet. Businesses leverage digital channels such as search engines, social media, email, and other
                    websites to connect with current and prospective customers. This also includes communication through
                    text or multimedia messages.
                    <br> <br>
                    At this stage, digital marketing is vital for your business and brand awareness. It seems like every
                    other brand has a website, and if they don’t, they at least have a social media presence or digital ad
                    strategy. 
                    <br> <br>
                    Digital content and marketing is so common that consumers now expect and rely on it as a way
                    to learn about brands. Because digital marketing has so many possibilities, you can get creative and
                    experiment with a variety of marketing tactics on a budget.
                </p>
            </div>
            <div class="col-md-6">
                
                <img class="digiimg" src="/assets/images/Digitalmarketing.png" alt="">
            </div>
        </div>
    
    
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="digiimg" src="/assets/images/SocialMediamarketing.png" alt="">
           
            </div>
            <br>
            <div class="col-md-6">
                <h1>Social Media Marketing </h1> <br>
                <p>Social media marketing is a form of marketing that uses social media platforms as a medium to drive
                    exposure, engagement, and conversions. Social media marketing is a broad technique and includes a wide
                    range of practices ranging from promoting products to engaging with the audience.</p>
                    <b> Here is an overview of
                        social media marketing.</b> <br>
            
    
                <br>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>             Build Thought Leadership</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Increase brand awareness</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Generate Leads & Sales</li>
                </ul>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-md-6">
                <h1>Search Engine Optimization (SEO) </h1> <br>
                <p> Search Engine Optimization (SEO) is one of the essential digital marketing components because it makes
                    your website visible on the search results. But, the implementation of SEO practices on your website can
                    be a hassle, primarily because of the extensive SEO solutions that combine altogether do improve a
                    website’s SEO. <br> <br>
                     Here is a brief overview of SEO, and how an SEO Company in Pune can help you <b>improve your
                        website’s search rankings..</b> </p>
                <br>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>                 Rank at the top positions of SERP</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Increase in Organic traffic</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Outperform their competition</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Generate leads without paying for ads</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="digiimg"  src="/assets/images/SEO.png" alt="">
    
    
            </div>
        </div>
    
        <br>    
        <br>
    
        <div class="row">
            <div class="col-md-6">
                <img class="digiimg"  src="/assets/images/GoogleAd.png" alt="">
                
            </div>
            <br>
            <div class="col-md-6">
                <h1>Google Ads </h1> <br>
                <p>The world of digital marketing is ever growing over the next few years. If your business is not listed on
                    Google you are probably going to miss out on 40 to 50% of your business online.
                    <br> We at Marketing Solution
                    understand that not every organization has the budget to run a full-scale online marketing campaign or
                    play hard with digital marketing and other online campaigns.
                <!-- <i class="fa-regular fa-star m"></i> -->
    
                     <br> A Google place is a solution for all local
                    business to have great results and high ROI at a very affordable price. Marketing Solution has an expert
                    team of digital marketing experts helping you to explore your business capabilities on the Google Maps.
                </p>
                <br>
    
            </div>
        </div>
    
        <br>
        <div class="row">
            <div class="col-md-6">
                <h1>Content Writing</h1> <br>
    
                <p> We are a digital marketing agency, with unmatched content marketing expertise. Our expert in-house team
                    of digital marketers, developers, graphic designers, and content specialists love to generate creative
                    content that is not only engaging, but also achieves your business goals with ease. We produce content
                    and strategies for a multitude of businesses across various industries of all sizes.. </p> <br>
                <p><b>The Content Crafted By Our Team :</b></p>
                <!-- <i class="fa-regular fa-star m"></i> -->
                <br>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>             Engages customers and builds trust and credibility</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Improves customer experience</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Supports SEO strategies</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Generates more qualified leads and enquiries</li>
                </ul>
       
    
            </div>
            <div class="col-md-6">
                <img class="digiimg" src="/assets/images/ContentWriting.png" alt="">
            </div>
        </div>
    
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="digiimg" src="/assets/images/Reputation.png" alt="">
            </div>
            <br>
            <div class="col-md-6">
                <h1>Online-Reputation-Management </h1> <br>
                <p><b style="font-size: 20px;">“Your brand isn’t what you say it is, it’s what Google says it is”</b>
                     <br> <span style="float: right;"><b>(Chris Anderson)</b></span>
    <br>
                    We are a digital marketing agency that helps you to build and manage your reputation online by controlling
                    your image and success on digital platforms.
    <br> <br>
                <b>    With Online Reputation Management, you can :</b>
                </p>
                
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>                 Increase your credibility with positive mentions of your organisation/brand </li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Manage criticism head-on, to remove it, if possible, or cover up it</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Stay vigilant and pro-active</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Improve your profits with higher ratings and positive reviews, and increase business </li>
                </ul>
                <br>
    
            </div>
        </div>
        <br>
    
        <div class="row">
            <div class="col-md-6">
                <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m3"></i> -->
    
                <h1>Web Designing</h1> <br>
                <p> We bring your idea of your brand to life, with creative web design professionals . Impress your
                    customers with contemporary designs that will help them build a strong perception of your business.
                    <br>    <br> As
                    website designs are constantly evolving in this fast paced digital world, we offer you quality design
                    solutions that sets you apart from the crowd.
           
    
                </p>
                <p> <b>Our creative website design solutions :</b></p>
           
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>             Provide engaging designs</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Craft designs that enhance your brand</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Create responsive website designs</li>
                    <li><i class="fa-solid fa-circle-check"></i>             Achieve your business goals</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img class="digiimg" src="/assets/images/WebDesigning.png" alt="">               
            </div>
        </div>
    
        <br>
    
        <div class="row">
            <div class="col-md-6">
                <!-- <i style="color:rgb(116, 234, 234);" class="fa-regular fa-star m3"></i> -->
    
                <img class="digiimg" src="/assets/images/Marketing.png" alt="">
              
    
            </div>
            <br>
            <div class="col-md-6">
                <h1>Marketing </h1> <br>
           <p>As we enter an entirely digital world, communicating with your audience is crucial, now more than ever.
                    we envision your brand as a living, breathing entity, capable of flawlessly communicating with your
                    consumers and building a relationship with them.
                    <br> <br> We pick up fundamental digital marketing concepts,
                    intersecting <b>marketing communication with digital strategies</b>.
                </p>
                <br>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-circle-check"></i>                 Optimize how your business is seen in the world </li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Build relationships with your consumers</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Cover each element from start to finish</li>
                    <li><i class="fa-solid fa-circle-check"></i>                 Meet your business objectives</li>
                </ul>
    
            </div>
        </div>
    
    </div>
    
    <br><br>
</div>