.body{
    background-image: url('/assets/images/Map_back.png'); 
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(7px);
    background-attachment: fixed;
  } 


.main {
    background-image: url('/assets/video/contactus.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    color: white;
    margin-top: 0%;
}

.p {
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70PX;
    font-weight: 900;
    animation: horizontal 15s infinite;
    /* animation-delay: 1s; */
}

@keyframes horizontal {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(50px);
    }
}

a{
    color: white;
}

@media(max-width:414px) {
    .p {
        font-size: 30px;
        margin-top: 25%;
        animation: horizontal 10s infinite;
    }
    h6{
        color: #0a5b99;
    }
    a{
        color: #0a5b99;
    }
    .main{
        margin-top: 6%;
    }
    img{
        width: 100%;
        padding: 2%;
    }
}

img{
    width: 100%;
}

.para {
    display: none;
}

.main a:hover+.para {
    display: inline;
    color: #fd8c29;

}

.div {
    padding: 10%;
    padding-top: 5%;
    font-weight: 500;
    text-align: center;
}


 
input {
    border-top: none;
    border-left: none;
    border-right: none;
} 



input:focus {
    border: 0px solid #fd8c29;
    box-shadow: #fd8c29 0px 2px 8px;
    /* box-shadow: #fd8c29 2px 2px 2px 2px, rgba(228, 143, 31, 0.32) 0px 2px 2px 0px; */
 }

textarea {
    border-top: none;
    border-left: none;
    border-right: none;
}

textarea:focus{
    border: 0px solid #fd8c29;
    box-shadow: #fd8c29 0px 2px 8px;
}

h1,h2 {
    color: #fd8c29;
}

i:hover {
    color:#fd8c29;
    transform: rotate(40deg);
}

h5 {
    color: #055496;
}

.f {
    color: #055496;
    animation: circle 1s infinite;
}




@keyframes circle {
    50% {
        transform: rotate(360deg);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: rotate(720deg);
    }
}

.m {
    z-index: 2;
    color: #ffd533;
    /* ##56b947,#0a6481; */
    animation: motion 8s infinite;
}

.m2 {
    z-index: 2;
    color: #56b947;
    text-align: end;
    margin-left: 30%;
    /* ,#0a6481; */
    animation: motion 8s infinite;
}
.m3 {
    z-index: 2;
    color: #0a6481;
    text-align: end;
    animation: down 8s infinite;
}

@keyframes motion {
    0% {
        transform: translatey(100px);
    }

    50% {
       
    }

    100% {
        transform: translate(300px);
    }
}

@keyframes down{
    0% {
        transform: translatey(-100px);
    }

    50% {
        left: 2%;
    }

    100% {
        transform: translate(300px);
    }
}