<div class="body">
    <div class="main">
        <div class="div"> 
            <p class="p">CLIENT'S</p>
            <br>
            <h6><a style="color: white;" [routerLink]="['/home']"><i class="fa fa-house fa-sm"></i>      Home</a> .   CLIENT'S</h6>
        </div>
    </div>
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 840;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/Arc-element.png" class="img-fluid rounded-start" alt="...">
                        </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ARC Elements</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 840;">
                    <div class="row g-0">
                      
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">CarveIt Interior</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>  <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/CarveIt_Logo.png" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 840;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/Miraclespa.png" class="img-fluid rounded-start" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Miracle Spa</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 840;">
                    <div class="row g-0">
                       
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Krishana Enterprises</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div> <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/Vertical_Logo.png" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="card mb-3" style="max-width: 840;" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/Krushakpipe.png" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Krushak Pipes</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="card mb-3"  >
                    <div class="row g-0">
                       
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Mindcrafts</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div> <div class="col-md-4">
                            <a href="https://miraclespapune.com/" target="_blank">
                            <img src="/assets/clients/Mindcrafts.png" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        
        <div class="col-md-12">
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="https://miraclespapune.com/" target="_blank">
                        <img src="/assets/clients/Wswe.png" class="img-fluid rounded-start" alt="...">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">We Value Soft</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            <br>
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </div>
</div>