<div class="body">
    <div class="main">
        <div class="div">
            <p class="p">SERVICES</p>
            <h6><a [routerLink]="['/home']"><i class="fa fa-house fa-sm"></i> Home</a> .
                Services</h6>
            <br>

            <!-- <div class="container d-lg-block d-sm-none">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <h6 class="animate__animated animate__bounceIn" (click)="scroll()" [routerLink]="['/branding']" style="color: #fd8c29;">Branding</h6>
                    </div><br>
                    <div class="col-md-2">
                        <h6 class="animate__animated animate__bounce" (click)="scroll()" [routerLink]="['/marketing']" style="color: #fd8c29;">Marketing</h6>
                    </div><br>
                    <div class="col-md-3">
                        <h6 class="animate__animated animate__bounce" (click)="scroll()" [routerLink]="['/website']" style="color: #fd8c29;">Website Development</h6>
                    </div><br>
                    <div class="col-md-2">
                        <h6 class="animate__animated animate__bounce " (click)="scroll()" [routerLink]="['/otherservice']" style="color: #fd8c29;">Other Services</h6>
                    </div><br>
                    <div class="col-md-2"></div>
                </div>
            </div> -->

        </div>
    </div>

    <div class="container">

        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-3">
                <div class="text-center">
                    <img class="serviceimg" src="/assets/images/Branddesign.png" (click)="scroll()"
                        [routerLink]="['/branding']" alt="">
                    <h5 class="animate__animated animate-slow-3s animate__bounceIn animate__infinite" (click)="scroll()"
                        [routerLink]="['/branding']" style="color: #fd8c29;">Branding</h5>
                </div>
            </div><br>

            
            <div class="col-3">
                <div class="text-center">
                    <img class="serviceimg" src="/assets/images/Digitalmarketing.png" (click)="scroll()"
                        [routerLink]="['/marketing']" alt=""> <br><br>
                    <h5 class="animate__animated animate__bounceIn animate__infinite" (click)="scroll()"
                        [routerLink]="['/marketing']" style="color: #fd8c29;">Marketing</h5>
                </div>
            </div><br>

            <div class="col-3">
                <div class="text-center">
                    <img class="serviceimg" src="/assets/images/Websitedevelopment.png" (click)="scroll()"
                        [routerLink]="['/website']" alt="">
                    <h5 class="animate__animated animate__bounceIn animate__infinite" (click)="scroll()"
                        [routerLink]="['/website']" style="color: #fd8c29;">Website Development</h5>
                </div>
            </div><br>

            <div class="col-3">
                <div class="text-center">
                    <img class="serviceimg" src="/assets/images/Photography.png" alt="" (click)="scroll()"
                        [routerLink]="['/otherservice']"> <br><br>
                    <h5 class="animate__animated animate__bounceIn animate__infinite" (click)="scroll()"
                        [routerLink]="['/otherservice']" style="color: #fd8c29;">Other Services</h5>
                </div>
            </div><br>
            <div class="col-md-2"></div>
        </div>



        <br><br>

        <div class="row">
            <h1 (click)="scroll()" [routerLink]="['/branding']">BRAND DESIGNING</h1> <br> <br>

            <div class="col-lg-6 col-md-12">
                <!-- <i class="fa-regular fa-star m"></i> -->
                <!-- <i style="color: blueviolet;" class="fa-sharp fa-solid fa-circle fa-2xs m3"></i> -->

                <p>Branding is a combination of marketing and business strategies that help people think about a
                    company,
                    a product, or a person in a particular way.Regardless of your industry, you always need to consider
                    your
                    competitors and what you can do to set your business apart. <br>
                </p>
                <br><b>With the right branding, this can be achieved.</b>

                <ul style="list-style: circle;">
                    <li> Branding enhances recognition.</li>
                    <li> Your brand helps you stand out from the competition.</li>
                    <li>Your brand tells people about your company’s DNA.</li>
                    <li> A strong brand generates referrals.</li>
                    <li>Your brand helps you connect with your customers emotionally.</li>
                </ul>

                <b> Remember, your branding needs to remain uniform across the board.</b>
                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> Logo</li>
                    <li><i class="fa-regular fa-square-check"></i> Brochure</li>
                    <li><i class="fa-regular fa-square-check"></i> Catlogue</li>
                    <li><i class="fa-regular fa-square-check"></i> Letter Head</li>
                    <li><i class="fa-regular fa-square-check"></i> Envelop</li>
                    <li><i class="fa-regular fa-square-check"></i> E-Mail signature</li>
                    <li><i class="fa-regular fa-square-check"></i> Invoices</li>
                    <li><i class="fa-regular fa-square-check"></i> V_Cards</li>
                    <li><i class="fa-regular fa-square-check"></i> I_Cards</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Profile</li>
                    <li><i class="fa-regular fa-square-check"></i> Proposal Templates</li>
                    <li><i class="fa-regular fa-square-check"></i> Owner Profile </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12"> <br><br>
                <img class="imagesa" src="/assets/images/Branddesign.png" alt="">
                <!-- <i class="fa-regular fa-star m"></i> -->
            </div>
        </div>


        <br>

        <h1>REACH ON TO DIGITAL</h1> <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h2>1. Website Design And Application Development</h2> <br>
                <p>Looking for a reliable web design company!. We are the best Web development company located in Pune.
                    <br> <br>
                    With a dedicated team of strategists and designers, Saletify has a rich experience in web designing
                    and
                    website optimization. We are specialized in delivering creative and responsive web designing
                    services to
                    our clients.
                    <br>
                    <br> With our dedications and efforts we have proved ourselves as one of the best web design
                    company in Pune, India.
                </p> <br>
                <br>
            </div>
            <div class="col-md-6"> <br>
                <img src="/assets/images/Websitedevelopment.png" alt="">


            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">

                <img src="/assets/images/Accountcreation.png" alt="">

            </div>
            <br>
            <div class="col-md-6"> <br><br>
                <h2>2. Account Creation </h2> <br>

                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> <b> Google My Business Account</b></li> <br>

                    <li><i class="fa-regular fa-square-check"></i> <b> Social Media Accounts </b>
                        <ul>
                            <li>Instagram</li>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>LinkedIn</li>
                            <li>YouTube</li>
                        </ul>
                    </li>
                </ul>
                <br>

            </div>
        </div>
        <br>

        <div class="row">
            <br>
            <div class="col-md-6"> <br><br>
                <h2>3. Social Media Activities</h2>
                <p>Social media for business is no longer optional. It's an essential way to reach your customers, gain
                    valuable
                    insights, and grow your brand. With over half of the world’s population using social media,
                    platforms like
                    Facebook, Instagram or Twitter a natural place to reach new and highly targeted potential customers.
                </p>
                <p>(15 Social media post)</p>
                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> Basic Information</li>
                    <li><i class="fa-regular fa-square-check"></i> Overview of the Organization</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Philosophy</li>
                    <li><i class="fa-regular fa-square-check"></i> Vision & Mission</li>
                    <li><i class="fa-regular fa-square-check"></i> Infrastructure</li>
                    <li><i class="fa-regular fa-square-check"></i> Products</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Events</li>
                    <li><i class="fa-regular fa-square-check"></i> Festivals</li>
                    <li><i class="fa-regular fa-square-check"></i> Clients</li>
                    <li><i class="fa-regular fa-square-check"></i> Environmental Awareness</li>
                    <li><i class="fa-regular fa-square-check"></i> New Product Launch</li>
                    <li><i class="fa-regular fa-square-check"></i> Our Team</li>
                    <li><i class="fa-regular fa-square-check"></i> Strength</li>
                    <li><i class="fa-regular fa-square-check"></i> Corporate Testimonies</li>
                    <li><i class="fa-regular fa-square-check"></i> Customer Review / Feedback</li>
                    <li><i class="fa-regular fa-square-check"></i> Blogs</li>

                </ul>

                <br>

            </div>
            <div class="col-md-6">

                <img class="" src="/assets/images/SocialMediaActivities.png" alt="">

            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6">

                <img class="" src="/assets/images/PromotionalActivities.png" alt="">


            </div>
            <br>
            <div class="col-md-6"> <br><br>
                <h2>4. Promotional Activities </h2> <br>

                <ul style="list-style: none;">

                    <li><i class="fa-regular fa-square-check"></i> On Site SEO </li>
                    <li><i class="fa-regular fa-square-check"></i> Off Site SEO </li>
                    <li><i class="fa-regular fa-square-check"></i> Keywords </li>
                    <li><i class="fa-regular fa-square-check"></i> Technical SEO </li>
                    <li><i class="fa-regular fa-square-check"></i> Social Media Presence </li>

                </ul>
                <br>
            </div>
        </div>
        <br><br>

        <div class="row">
            <br>
            <div class="col-md-6"> <br><br>
                <h2>5.Campaigns</h2>
                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> <b> Google Ad-words</b></li>

                    <p style="text-align:justify;">Target your ads. Targeting gives
                        you the ability to show your ads to reach people with specific interests -
                        namely, people who are interested in your products and services and show them relevant ads.,
                        Control your costs, Measure your success,Manage your campaigns.</p>

                    <li><i class="fa-regular fa-square-check"></i><b> Social Media Paid Campaign</b></li>

                    <p style="text-align:justify;"> The more you put yourself out
                        there on social media, the easier it is for people to get to know you.
                        We gives you what you need to stay active on social and everywhere else.
                        Reframing your content - Create new content or reuse elements that worked in your other
                        campaigns.
                        Reach more people - Craft the right message to share with the right audience in the right
                        places.</p>

                    <li><i class="fa-regular fa-square-check"></i><b style="font-weight: 500;"> Facebook
                            Advertisements</b></li>
                    <li><i class="fa-regular fa-square-check"></i><b style="font-weight: 500;"> E- Mail Campaign</b>
                    </li>
                </ul>

                <br>

            </div>
            <div class="col-md-6">

                <img src="/assets/images/Campaigns.png" alt="">

            </div>
        </div>

        <br><br>
        <h1>PHOTOGRAPHY & VIDEOGRAPHY</h1> <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"> <br> <br>
                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> Product Wise Photoshoot</li>
                    <li><i class="fa-regular fa-square-check"></i> Event Photography</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Profile</li>
                    <li><i class="fa-regular fa-square-check"></i> Photo-Editing</li>
                    <li><i class="fa-regular fa-square-check"></i> Video-Editing</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Overview</li>
                    <li><i class="fa-regular fa-square-check"></i> Special Product Launch</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Event</li>
                    <li><i class="fa-regular fa-square-check"></i> Owner Profile</li>
                    <li><i class="fa-regular fa-square-check"></i> Testimonials</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img class="images" src="/assets/images/Photography.png" alt="">

            </div>
        </div>
    </div>
</div>