<!-- <swiper-container navigation="true" paginationclickable="true" slides-per-view="3" loop="true" effect="coverflow"
    depth="300" stretch="0" rotate="15" slideShadows="true" modifier="1" >
    <swiper-slide>
        <div class="card">
            <img src="/assets/images/GoogleAd.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Google Ads</h5>
                <p class="card-text">The world of digital marketing is ever growing over the next few years. </p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/WebDesigning.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Web Design</h5>
                <p class="card-text">Develop your Website to show off your work.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/website']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <br><br>
                <h5 class="card-title">Photoghraphy</h5>
                <p class="card-text">Product Wise Photoshoot,Event Photography.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/GoogleAd.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Google Ads</h5>
                <p class="card-text">The world of digital marketing is ever growing over the next few years. </p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/WebDesigning.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Web Design</h5>
                <p class="card-text">Develop your Website to show off your work.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/website']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <br><br>
                <h5 class="card-title">Photoghraphy</h5>
                <p class="card-text">Product Wise Photoshoot,Event Photography.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <img src="/assets/images/GoogleAd.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Google Ads</h5>
                <p class="card-text">The world of digital marketing is ever growing over the next few years. </p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/WebDesigning.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Web Design</h5>
                <p class="card-text">Develop your Website to show off your work.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/website']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            <div class="card-body">
                <br><br>
                <h5 class="card-title">Photoghraphy</h5>
                <p class="card-text">Product Wise Photoshoot,Event Photography.</p>
                <a href="" [routerLink]="['/contact']" (click)="scroll()" class="card-link">Get Quote</a>
                <a href="" [routerLink]="['/marketing']" (click)="scroll()" class="card-link">Know More</a>
            </div>
        </div>
    </swiper-slide>

</swiper-container> -->

<div class="body">
    <h1>Cards</h1>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>

            <div class="swiper-slide">
                <img src="/assets/images/Photography.png" class="card-img-top" alt="Chicago Skyscrapers" />
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 15,
                stretch: 0,
                depth: 300,
                modifier: 1,
                slideShadows: true,
            },
            loop:true,
        });
    </script>
</div>