<div class="body"> <br>

    <!-- <div class="videos">
        <img width="100%" src="/assets/We wish you_Christmas.gif" alt="">
    </div> -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <!-- <img width="50%" class="animate__animated animate__swing  animate__infinite" src="/assets/1.png" alt=""> -->
            </div>
            <div class="col-6">
                <br>
                <!-- <div class="text-center">
                    <p class="textp">From organic posts to targeted Ads, manage your social
                        channels all in one
                        place
                        And Let's Bring Your Business on to the fastest growing platform i.e. Social Media.</p>
                </div> -->
            </div>
            <div class="col-3">
                <!-- <img width="50%" class="animate__animated animate__swing  animate__infinite" src="/assets/2.png" alt=""> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row welcome">
            <br>
            <div class="col-md-6">
                <img class="images" src="/assets/newanalysis.png" alt="">
            </div>
            <div class="col-md-6">
                <br><br><br>
                <div class="text">
                    <h2 style="color: #fd8c29; font-weight: 700;">WELCOME TO FOURTHDM</h2>
                    <br>
                    <h1 class="digital">We Will Bring You Onto Digital </h1>

                </div>
                <p style="font-size: 19px;">From organic posts to targeted Ads, manage your social channels all in one
                    place
                    And Let's Bring Your Business on to the fastest growing platform i.e. Social Media.</p>
            </div>
            <br>
        </div>

        <div class="row" style="margin-top: 8%;">
            <div class="col-md-6">
                <p>About US</p>
                <h1 class="whytext"> FOURTHDM</h1>
                <p> We have been working in this field for 5 years and counting. During this ongoing journey, We
                    realized
                    that a notable amount of Business owners throughout the world are using Digitization tools and
                    techniques to boost their business.
                    <br><br>
                    To make use of these tools, business needs data points of various
                    levels, to collect the data points business ought to be digital. Nonetheless very few businesses in
                    India have digital presence, and the rest will be left behind in this AI powered revolution, facing
                    the
                    problem of date scarcity. <br><br>

                    To resolve this future problem of data scarcity, an immediate action is required to put the business
                    in
                    the digital realm.

                    The Fourth Dimension team is right here to help and establish the digital presence of your business
                    and
                    enroot it for a better and competitive future.
                </p>

                <br>
                <button class="btn btn-primary" [routerLink]="['/about']">KNOW MORE</button>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card C" [routerLink]="['/website']" (click)=" scroll()">
                            <div class="card-body" style="text-align: center;">
                                <img src="https://www.digimediasolutions.in/wp-content/uploads/2021/01/circle_orange.png"
                                    alt="">
                                <h5>Web Design/
                                    <br>Development
                                </h5>
                            </div>
                        </div> <br>
                    </div>
                    <div class="col-md-6">
                        <div class="card C" [routerLink]="['/branding']" (click)=" scroll()">
                            <div class="card-body" style="text-align: center;">
                                <img src="https://www.digimediasolutions.in/wp-content/uploads/2021/01/circle_blue.png"
                                    alt="">
                                <h5>Branding PhotoGraphy/VideoGraphy</h5>
                            </div>
                        </div> <br>
                    </div>
                    <div class="col-md-6">
                        <div class="card C" [routerLink]="['/marketing']" (click)=" scroll()">
                            <div class="card-body" style="text-align: center;">
                                <img src="https://www.digimediasolutions.in/wp-content/uploads/2021/01/circle_purple.png"
                                    alt="">
                                <h5>SEO/SMO </h5>
                            </div>
                        </div> <br>
                    </div>
                    <div class="col-md-6">
                        <div class="card C" [routerLink]="['/service']" (click)=" scroll()">
                            <div class="card-body" style="text-align: center;">
                                <img src="https://www.digimediasolutions.in/wp-content/uploads/2021/01/circle_green.png"
                                    alt="">
                                <h5>Social Media Management /AD Campaign</h5>
                            </div>
                        </div> <br>
                    </div>

                </div>
            </div>
        </div>

        <!-- <app-cards></app-cards> -->
        <br><br>
        <!-- <app-cs></app-cs> -->
        <br><br>
        <!--why choose us page-->
        <div class="row">
            <div class="col-md-6">
                <img class="whyimage" src="/assets/images/whyus.png" alt="">
            </div>
            <div class="col-md-6"> <br>
                <h1 class="whytext">
                    <br>
                    Why Choose Us
                </h1>
                <br>
                <p> We provide a broad spectrum of Internet and Digital Marketing services. FourthDm is a core marketing
                    company dedicated to addressing your marketing needs so that you can optimize your marketing goals
                    and
                    attain maximum profit”.
                    <br> <br> Starting from abstraction and blueprinting to the final stroke of execution, we
                    work on your entire digital marketing plan to counter-attack challenges posed by your competitors.
                </p>
                <br>

                <label for="file">Website Analysis</label> <br>
                <progress style="width: 90%; accent-color: #fd8c29;" id="file" value="95" max="100"> 95% </progress>
                <br>
                <label for="file">SEO Reports</label> <br>
                <progress style="width: 90%; accent-color: #fd8c29;" id="file" value="65" max="100"> 65% </progress>
                <br>
                <label for="file">Social Media Page Optimizations</label> <br>
                <progress style="width: 90%; accent-color: #fd8c29; " id="file" value="80" max="100"> 80% </progress>
            </div>

            <!-- <i class="fa fa-circle fa-2xs s"></i> -->
        </div>
        <app-counting></app-counting>

        <!-- <i class="fa-sharp fa-regular fa-circle  fa-2xs i"></i> -->

        <!-- what we offer-->
        <div>
            <div class="row">
                <h1 class="whytext" style="text-align: center;">What We Offer</h1> <br><br><br>
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/seo.png" alt="">
                                <h4>Graphic Design </h4>
                            </div>

                            <p>Search Engine Optimisation is a method through which the search engines decide the
                                ranking of a
                                website according to the keywords entered in the search bar.</p>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/development.png" alt="">
                                <h4>Website Design</h4>
                            </div>

                            <p>Develop your Website to show off your work. Having a website is an opportunity to make a
                                great first impression
                                and give people comfort that you're a real business. Website is essential for offering
                                social proof and establishing
                                your credibility as a business. If you want to succeed in business, invest in a website.
                                It’s the best way to offer
                                social proof and build trust with potential customers.</p>
                        </div>
                    </div> <br>
                </div>
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/webdesign.png" alt="">
                                <h4>UI/UX Design</h4>
                            </div>

                            <p>Since our inception, we have been providing our customers with creative, innovative, and
                                SEO-friendly website designing services in Pune and Mumbai according to the business
                                field that
                                your company specializes in.</p>
                        </div>
                    </div> <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/wordpress.png" alt="">
                                <h4>SEO</h4>
                            </div>
                            <p>Share your brand through more social channels Promote your business via social media
                                platforms
                                where over 2 billion people are engaging with other brands like yours: Facebook,
                                Instagram, and Twitter.
                                With our social posting platform, you can create, manage, and publish posts that help
                                you stand out.</p>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/whatsmarketing.png" alt="">
                                <h4>Social Media Management</h4>
                            </div>

                            <p>The more you put yourself out there on social media, the easier it is for people to get
                                to know you.
                                We gives you what you need to stay active on social and everywhere else.
                                Reframing your content - Create new content or reuse elements that worked in your other
                                campaigns.
                                Reach more people - Craft the right message to share with the right audience in the
                                right places.</p>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4">
                    <div class="card cardtext">
                        <div class="card-body">
                            <div class="div">
                                <img class="img" src="/assets/googleads.png" alt="">
                                <h4>Adwords</h4>
                            </div>

                            <p>Target your ads. Targeting gives you the ability to show your ads to reach people with
                                specific interests -
                                namely, people who are interested in your products and services and show them relevant
                                ads.Control your costs, Measure your success,Manage your campaigns.</p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

        <br><br>
        <div class="container">
            <h1 style="text-align: center;   color: #fd8c29;">OUR CLIENT</h1>
            <div class="container">
                <div class="section section--demo" id="examples">
                    <carousel [autoplay]="true" [autoplayInterval]="5000" [height]="300" [cellsToShow]="4"
                        [loop]="true">
                        <div class="carousel-cell">
                            <img src="/assets/clients/Mindcrafts.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/sz.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/Wswe.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/bvjss.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/Krushakpipe.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/Vertical_Logo.png">
                        </div>

                        <div class="carousel-cell">
                            <img src="/assets/clients/CarveIt_Logo.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/fascinawintec.png">
                        </div>
                        <div class="carousel-cell">
                         > <img src="/assets/clients/mgs.png">
                        </div>
                        <div class="carousel-cell">
                          <img src="/assets/clients/Krushakpipe.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/Vertical_Logo.png">
                        </div>

                        <div class="carousel-cell">
                            <img src="/assets/clients/CarveIt_Logo.png">
                        </div>
                        <div class="carousel-cell">
                            <img src="/assets/clients/Jalaram Group_Delight logo-01.png">
                        </div>

                        <div class="carousel-cell">
                            <img src="/assets/clients/Happy journey tour-01.png">
                        </div>
                    </carousel>
                </div>
            </div><br>
            <h4 style="text-align: center; color: #fd8c29;" [routerLink]="['/Review']">Clients Review</h4>
        </div>
        <br>
        <!--get free analysis page-->
        <div class="row">

            <div class="col-md-6">
                <img class="analysis" src="/assets/images/Freeanalysis.png" alt="">
            </div>
            <div class="col-md-6">
                <h2 class="whytext">Get Free Analysis?</h2> <br>
                <h5>Get free consultation on any of your query </h5> <br>


                <form [formGroup]="fromdata" (ngSubmit)="onsubmit(fromdata.value)" class="row g-3 needs-validation"
                    novalidate>
                    <div class="col-md-6">
                        <input style="border-top: none;border-left: none;border-right: none;" type="text"
                            class="form-control" id="validationCustom01" value="" placeholder="Enter Your Name "
                            required>
                        <div class="valid-feedback">
                            Your Name
                        </div>
                    </div>
                    <div class="col-md-6">

                        <input type="email" class="form-control" id="validationCustom03"
                            placeholder="Enter Your Email Address.." required>

                    </div>
                    <div class="col-md-6">

                        <input type="number" class="form-control" id="validationCustom02" value=""
                            placeholder="Enter your Mobile number" required>
                        <div class="valid-feedback">
                            Your number
                        </div>
                    </div>


                    <div class="col-md-6">

                        <input type="email" class="form-control" id="validationCustom03"
                            placeholder="Website/Business Name" required>

                    </div>
                    <div class="col-6">
                        <button class="btn btn" style="background-color:orange;color: white;" type="submit">
                            Check Now</button>
                    </div>
                </form>


            </div>
        </div>
        <br><br>
    </div>
</div>