<div class="body">
    <div class="main">
        <div class="div">
            <h1>OTHER SERVICES</h1>
            <br>
            <h6><a style="color: white;" [routerLink]="['/service']"><i class="fa fa-house fa-sm"></i> Services</a> . Other
                Services</h6>
            <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m"></i> -->
        </div>
    </div>

    <br>
    <!-- <h1 style="text-align: center; color: #055496;">OTHER SERVICES</h1> -->

    <div class="container">
        <h1>PHOTOGRAPHY & VIDEOGRAPHY</h1> <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"> <br>
                <ul style="list-style: none;">
                    <li><i class="fa-regular fa-square-check"></i> Product Wise Photoshoot</li>
                    <li><i class="fa-regular fa-square-check"></i> Event Photography</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Profile</li>
                    <li><i class="fa-regular fa-square-check"></i> Photo-Editing</li>
                    <li><i class="fa-regular fa-square-check"></i> Video-Editing</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Overview</li>
                    <li><i class="fa-regular fa-square-check"></i> Special Product Launch</li>
                    <li><i class="fa-regular fa-square-check"></i> Company Event</li>
                    <li><i class="fa-regular fa-square-check"></i> Owner Profile</li>
                    <li><i class="fa-regular fa-square-check"></i> Testimonials</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img class="images animate__animated animate__backInDown" src="/assets/images/Photography.png" alt="">

            </div>
        </div>
    </div>

    <div class="main2">
        <div class="container-fluid"> <br>
            <div class="container">
                <br>
                <h2 style="color: #0b72b3;">PHOTO'S</h2><br>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <h3>Photo Retouching</h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="rendered">
                                <img slot="first" width="100%" height="100%"
                                    src="/assets/photoediting/PhotoRetouching_Before.jpg">
                                <img slot="second" width="100%" src="/assets/photoediting/PhotoRetouching_After.jpg">
                            </img-comparison-slider>
                        </div> <br>
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-4 col-md-6">
                        <h3>Virtual Staging</h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="rendered">
                                <img slot="first" width="100%" src="/assets/photoediting/VertualStaging_Before.jpg">
                                <img slot="second" width="100%" src="/assets/photoediting/VertualStaging_After.jpg">
                            </img-comparison-slider>
                        </div> <br>
                    </div>
                    <br>
                    <div class="col-lg-4 col-md-6">
                        <h3>Real Estates</h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="slider rendered">
                                <img slot="first" width="100%" src="/assets/photoediting/Realestate.jpg">
                                <img slot="second" width="100%" src="/assets/photoediting/Rea.jpg">
                            </img-comparison-slider>
                        </div><br>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <h3>Photo Restoration</h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="rendered">
                                <img slot="first" width="100%" src="/assets/photoediting/Photo Restoration_Before1.jpg">
                                <img slot="second" width="100%" src="/assets/photoediting/Photo Restoration_After1.jpg">
                            </img-comparison-slider>
                        </div> <br>
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-4 col-md-6">
                        <h3>Wedding </h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="rendered">
                                <img slot="first" width="100%" src="/assets/photoediting/Wedding_B.jpg">
                                <img slot="second" width="100%" src="/assets/photoediting/Wedding_A.jpg">
                            </img-comparison-slider>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-lg-4 col-md-6">
                        <h3>Other</h3>
                        <div class="card">
                            <img-comparison-slider tabindex="0" class="rendered">
                                <img slot="first" width="100%" class="wedimg"
                                    src="/assets/photoediting/Other_S_Before1.jpg">
                                <img slot="second" width="100%" class="wedimg"
                                    src="/assets/photoediting/Other_S_After1.jpg">
                            </img-comparison-slider>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container">
                <br><br>
                <h2 style="color: #0b72b3;"> VIDEO'S</h2> <br>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Real Estates</h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/Realestatevideo.gif" alt=""> <br>
                        </div>
                        <br>
                    </div>
                    <br> <br>
                    <div class="col-md-4">
                        <h4> Drone Video</h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/DroneVideo.gif" alt=""> <br>
                        </div><br>
                    </div><br>

                    <div class="col-md-4">
                        <h4>Vlog Video</h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/VlogVideo.gif" alt=""> <br>
                        </div> <br>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Product Video </h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/ProductVideo.gif" alt=""> <br>
                        </div> <br>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <h4>Wedding Video </h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/WeddingVideo.gif" alt=""> <br>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <h4>Other Video</h4>
                        <div class="card">
                            <img class="gif" src="/assets/videos/Otherservices.gif" alt=""> <br>
                        </div> <br>
                    </div> <br>
                </div>
            </div>
        </div>
        <br> <br>
    </div>
</div>