<!-- <nav class="navbar fixed-top navbar-expand-lg bg-body bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="/assets/logo.jpg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 n" style="padding-left: 45%;" (click)="closeNavbar()">
        <li class="nav-item">
          <a class="nav-link text" aria-current="page" (click)="scroll()" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" [routerLink]="['/about']">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text" (click)="scroll()" href="" [routerLink]="['/service']" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/branding']">Branding</a>
            </li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/marketing']">Marketing</a>
            </li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/website']">Website
                Development</a></li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/otherservice']">Other
                Services</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" [routerLink]="['/portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" href="" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" [routerLink]="['/contact']">Contact Us </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a href=""><img  class="animate__animated animate__fadeInLeft animate__slower" src="/assets/logo.jpg" alt=""></a>

    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" (click)="closeNavbar()">
        <li class="nav-item">
          <a class="nav-link " href="" (click)="scroll()" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="" (click)="scroll()" [routerLink]="['/about']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="" (click)="scroll()" [routerLink]="['/service']"> Services</a>
        </li>
<!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text" (click)="scroll()" href="" [routerLink]="['/service']" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/branding']">Branding</a>
            </li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/marketing']">Marketing</a>
            </li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/website']">Website
                Development</a></li>
            <li><a class="dropdown-item text" href="" (click)="scroll()" [routerLink]="['/otherservice']">Other
                Services</a></li>
          </ul>
        </li> -->
        
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" [routerLink]="['/portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" (click)="scroll()" href="" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click)="scroll()" [routerLink]="['/contact']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>