<div class="body">
    <div class="main">
        <div class="container" style="padding: 5%;">
            <div class="div">
                <h1> BRANDING</h1>

                <h6><a style="color:white;" [routerLink]="['/service']"><i class="fa fa-house fa-sm"></i> Services</a> .
                    Branding
                </h6>
            </div>
        </div>
    </div>

    <!-- <div class=" brand">
        <div class="container">
            <div class="div">
                <marquee behavior="scroll" direction="right" scrollamount="15">
                    <h3>Logo</h3>
                </marquee>
                <br>
                <marquee behavior="scroll" direction="right" scrollamount="12">
                    <h3>Brochure</h3>
                </marquee>
                <marquee behavior="scroll" direction="left" scrollamount="12">
                    <h3>Responsive Templates</h3>
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="12">
                    <h3>Design Proposal</h3>
                </marquee>
                <marquee behavior="scroll" direction="down" scrollamount="6">
                    <h3 style="text-align: center;">I_card </h3>
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="40">
                    <h3>Graphic Design</h3>
                </marquee>
                <marquee behavior="scroll" direction="left">
                    <h3>Company Profile </h3>
                </marquee>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Logo</h1>
                <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m2"></i>    -->
                <p>Create your Logo to define your Company's work domain. Whether you have a new business or an
                    established
                    one, brand loyalty is always a concern.
                    <br> Whenever a user visits your website, then the first thing that would be
                    visible is your logo.
                    <br> If you succeed to impress the customer at a first attempt, then your half job is done to make
                    them regular customers.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/logodesign.png" alt="">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs m"></i> -->
                <img src="/assets/images/Brochuredesign.png" alt="">
            </div>
            <div class="col-md-6">
                <h1>Brochure</h1><br>
                <p>A brochure is an informational pamphlet or leaflet ad-vertising . an organization, business, event,
                    product, or service. Brochures are a great way to package information in a simple, eye-catching
                    design
                    that attracts potential clients by offering basic information.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Responsive Templates</h1><br>
                <p>
                    Responsive templates are suited for devices with any resolution. It gets easily adaptable to devices
                    such as laptops, mobile and computers with variable resolution</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/Responsivetemplates.png" alt="">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/Graphicsdesign.png" alt="">
            </div>
            <div class="col-md-6">
                <h1>Graphic Design</h1><br>
                <p>
                    Catalogue is a graphic design product that presents your products or services to your potential
                    clients.
                    What matters the most to us as designers when designing a catalogue is to establish harmony between
                    the
                    text, pictures and colors.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Design Proposal</h1><br>
                <p>
                    A design proposal is a document or a series of slides that set out your plan for a design project.
                    Normally requested by clients, it’s a way for them to compare the value that different designers are
                    offering them.</p>

            </div>
            <div class="col-md-6">
                <img src="/assets/images/DesignProposal.png" alt="">


            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/I_Card.png" alt="">
            </div>
            <div class="col-md-6">
                <h1>I_Card</h1><br>
                <p>
                    Graphic design is a craft where professionals create visual content to communicate messages. By
                    applying
                    visual hierarchy and page layout techniques, designers use typography and pictures to meet users’
                    specific needs and focus on the logic of displaying elements in interactive designs, to optimize the
                    user experience.</p>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <h1>Company Profile</h1><br>
                <p>
                    A company profile is an important document for graphic firms pitching to new clients. It also forms
                    part
                    of your firm’s general marketing material, such as website content or company brochures.</p>

            </div>
            <div class="col-md-6">
                <img src="/assets/images/Companyprofile.png" alt="">
            </div>
        </div>

    </div>
</div>