/* @import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  background-color: #131417; 
 
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem; 
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
} */

/*   
i{
  animation: animate 5s infinite;
  color: orange;
} */


/* 
.icon{
  animation: popup 2s infinite;
  color: #ef3f39;
  z-index: 3;

}

.bi{
  animation: moves 15s infinite ;
}

@keyframes move{
  from{
    transform: translateY(10px);
  }
  to{
    transform: translateY(100px);
  }
}


@keyframes moves{
  50%{
      transform: rotate(360deg);
  }
  100%{
      transform: rotate(720deg);
  }
}

@keyframes popup{
  from{
    transform: translatey(50px);
  }
  to{
    transform: translateY(-50px);
  }
}

.div{
  position:sticky;
  bottom: 20%;
  z-index: 3;
}

.image{
 width: 10%;
  
}
.fa-whatsapp{
  z-index: 2;
  font-size: 40px;
  color: green;
  margin-left: -5%;
}






.i{
  color: aqua;
  animation: animate 5s infinite;
  position: relative;
  z-index: 2;
}




@keyframes animate{
  0%{
    transform: translate(80px);
  }
  50%{
    left: 2%;
  }
  100%{
    transform: translateY(200px);
  }
} */


/* .m{
  z-index: 2;
  color: #ffd533 ;

  animation: motion 8s infinite;
}
@keyframes motion{
  0%{
      transform: translatey(100px);
  }
  50%{
      left: 2%;
  }
  100%{
      transform: translate(300px);
  }
}

.t{
  text-align: center;
  color: #ef3f39;
  animation: triangle 9s infinite;
  padding-inline-start: 10%;
}
@keyframes triangle{
  50%{
      transform: rotate(360deg);
  }
  70%{
      transform: scale(2.2);
  }
  100%{
      transform: rotate(720deg);
  }
}


.s{
  color: #ef3f39;
  animation: star 3s infinite;
  text-align: end;
}
@keyframes star{
  0%{
      transform: skewy(20deg);
      width: 20%;
  }
  20%{
      transform: translateY(30px);
  }
  50%{
      transform: scale(1.1);
  }
} */


/* same css for icon on position of bottom.... */

.icon {
  font-size: 40px;
  color: #25D366;
  z-index: 2;
}

.iconi {
  font-size: 40px;
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.contact {
  bottom: 20%;
  font-size: 30px;
  color: #218AFF;
  z-index: 2;
}

@media(max-width:414px) {
  .icon {
    font-size: 30px;
    color: green;
    z-index: 2;
  }

  .iconi {
    font-size: 30px;
    color: #e95074;
    z-index: 2;
  }

  .contact {
    bottom: 20%;
    font-size: 30px;
    color: #3c6ae7;
    z-index: 2;
  }

  .menu {
    display: none;
  }
}


.p {
  display: none;
}

.contact:hover+.p {
  display: block;
  font-size: 15px;
  margin-top: -6.5rem;
  text-align: top;
  z-index: 1;
}


button {
  position: fixed;
  bottom: 5px;
  right: 0;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  z-index: 1;

}




/* new hover css for form and whatsapp */

:root {
  --body-bg-color: #1a1c1d;
  --text-color: #aaaebc;
  --red: #e74c3c;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.menu {
  bottom: 10%;
  position: fixed;
  right: 0;
  z-index: 2;
  background-attachment: fixed;

}

.menu li+li {
  margin-top: 20px;
}

.menu a {
  position: relative;
  display: inline-flex;
  text-transform: uppercase;
}

.menu a:hover::before {
  background-position: 0;
}

.menu a:hover {
  transform: translateX(-3px);
}


@keyframes anima {
  100% {
    transform: scale(1.1);
  }
}



/* css for background images that are fixed on full pages */