
  <app-navbar ></app-navbar>
  <br>
<ul class="menu">   
  <li>
    <a href="" [routerLink]="['/contact']">
      <span>
       
        <i class="bi bi-chat-right-text-fill contact"></i>
      </span>
      <p class="p">Enquery Form</p>
    </a>                        
  </li>
  <li>
    <a href="https://wa.me/917709892292" target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp icon"></i>
      </span>
      <p class="p">Add To Whatsapp</p>
    </a>
  </li>

  <li>
    <a href="https://www.instagram.com/fourthdm_media/?igshid=NTc4MTwNjQ2YQ%3D%3D" target="_blank">
      <span>
        <i class="fa-brands fa-instagram iconi"></i>
      </span>
      <p class="p">Add To Instagram</p>
    </a>
  </li>
</ul>
<div>
<button (click)="scrollToTop()" style="background-color: #fd7a00d4;">👆</button>
  </div>
 
  <router-outlet></router-outlet>

  <app-footer></app-footer>

<!-- 
<div class="div">
        <img class="image" src="/assets/images/hand.png" alt="">
        <a href="https://wa.me/917709892292" target="_blank">
          <span>
            <i class="fa-brands fa-whatsapp"></i>
          </span>
        </a>   
</div> -->
<!-- <i class="fa-regular fa-star s"></i><br> -->
<!-- <i class="fa-sharp fa-regular fa-circle fa-2xs i"></i> -->

  <!-- <marquee behavior="scroll" direction="left" scrollAmount="10"><i style="color: white;" class="fa-regular fa-star"></i></marquee> -->


<!-- 
<i class="fa fa-meteor m"></i> -->


  <!-- <i class="fa-solid fa-xmark t"></i> -->


<!-- <app-home></app-home> -->


<!-- <main class="container">
  <p>Hello 👋 I'm</p>
  <section class="animation">
    <div class="first"><div>Carlos Córdova</div></div>
    <div class="second"><div>Web Developer</div></div>
    <div class="third"><div>Systems Engineer</div></div>
  </section>
</main> -->