<div class="body">
    <div class="container">
        <p style="text-align: center;color: #fd8c29;font-size: larger;">OURs CLIENT</p>
        <div class="container">
            <div class="section section--demo" id="examples">
                 <carousel [autoplay]="true" [autoplayInterval]="5000" [height]="300" [cellsToShow]="1" [loop]="true">
                    <div class="carousel-cell">
                        <img src="/assets/clients/sz.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Krushakpipe.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Vertical_Logo.png">
                    </div>
                  
                    <div class="carousel-cell">
                        <img src="/assets/clients/CarveIt_Logo.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Wswe.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/sz.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/bvjss.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/fascinawintec.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/mgs.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Krushakpipe.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Vertical_Logo.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Happy journey tour-01.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/CarveIt_Logo.png">
                    </div>
                    <div class="carousel-cell">
                        <img src="/assets/clients/Jalaram Group_Delight logo-01.png">
                    </div>
                </carousel>
            </div>
        </div>
        <h4 [routerLink]="['/Review']">Clients Review</h4>
    </div> <br><br>
</div>