<div class="container">


</div>

<div class="main">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6361.192226042089!2d73.9520527802349!3d18.55655963282504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c3c1479e6abd%3A0x3d3672047e8413fe!2sGera&#39;s%20Imperium%20Alpha!5e0!3m2!1sen!2sin!4v1682944451356!5m2!1sen!2sin"
        class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="container">
        <div class="row">

            <div class="col-md-4 ab"> <br>
                <h2>About</h2> <br>
                <p style="text-align: justify;">We understand our customer needs, design strategies that help to grow
                    your business.
                    Web designing to
                    creating graphics & from SEO to Social Media we do everything do in Digital Marketing.</p>
                <h5><i class="fa-solid fa-location"></i> Office</h5>
                Gera's Imperium Alpha,Grant Road, kharadi, pune, Maharashtra 411014.
            </div>

            <div class="col-md-4"> <br>
                <h2 class="quick">Quick Links</h2><br>
                <div class="div" style="display: flex;">
                    <ul style="list-style: none;">
                        <li (click)="scrollToTop()" [routerLink]="['/home']"><a> Home </a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/about']"><a> About Us </a> </li>
                        <li (click)="scrollToTop()" [routerLink]="['/service']"><a>Service</a> </li>
                        <li (click)="scrollToTop()" [routerLink]="['/portfolio']"><a> Portfolio </a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/blog']"> <a> Blog </a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/contact']"> <a> Contact Us </a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li (click)="scrollToTop()" [routerLink]="['/service']"> <a> Service's </a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/branding']"> <a> Branding</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/marketing']"> <a> Marketing</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/website']"> <a> Website Development</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/website']"> <a> Application Development</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/otherservice']"> <a> Other Services</a></li>
                    </ul>
                </div>

                <ul style="list-style: none; display: flex;">
                    <li class="list"> <a style="color: white;" href="https://www.facebook.com/fourthdm.media"
                            target="_blank"><i class="fa-brands fa-facebook"> </i> </a> </li>

                    <li class="list"> <a style="color: white;"
                            href="https://www.instagram.com/fourthdm_media/?igshid=NTc4MTwNjQ2YQ%3D%3D"
                            target="_blank"><i class="fa-brands fa-instagram"> </i> </a>
                    </li>

                    <li class="list"> <a style="color: white;"
                            href="https://www.linkedin.com/company/fourtharcdm-pvt-ltd/?viewAsMember=true"
                            target="_blank"><i class="fa-brands fa-linkedin-in"></i> </a>
                    </li>
                    <li class="list"> <a style="color: white;" href="https://twitter.com/FourthArcDm" target="_blank"><i
                                class="fa-brands fa-twitter"> </i> </a> </li>
                    <li class="list"> <a style="color: white;" href="https://in.pinterest.com/amolfourthdm" target="_blank" ><i class="fa-brands fa-pinterest"> </i> </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 callus">
                <br>
                <h2>Contact Information</h2> <br>
                <h5> <i class="fa-solid fa-phone-volume"></i> Call Us</h5>
                02026608663 <br>
                +91 7709892292
                <br> <br>
                <h5><i class="fa-solid fa-envelope"></i> Email</h5>
                info@fourthdm.com <br>
                vikas.t@fourthdm.com
                <br> <br>

            </div>
        </div>

        <hr>
        <div class="copyrights">
            <p>Copyright &copy; 2019 Fourthdm .All Rights Reserved.</p>
            <h2 class="letss" >LET'S GROW TOGETHER</h2>
            <p class="powered">Powered By : <span><a href="fourthdm.com" target="_blank"><img class="img"
                            src="/assets/logo.jpg" alt=""></a></span> </p>
        </div>
        <br>
    </div>
</div>