/* You can add global styles to this file, and also import other style files */

 /* body{
        background-image: url('/assets/images/Map_back.png'); 
        background-repeat: no-repeat;
        background-size:150%;
        backdrop-filter: blur(3px);
        background-attachment: fixed;
}    */