<div class="body">
     <div class="main">
        <div class="div">
            <p class="p">ABOUT US</p>
            <br>
            <h6><a  [routerLink]="['/home']"><i class="fa fa-house fa-sm"></i>     Home</a> . About</h6>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="background-color: rgba(236, 221, 249, 0.164);">
                        <img class="iconimg"
                            src="/assets/img_box_01.png" alt="">
                        <h3>Our Values</h3>
                        <p >We emphasize and strive hard to create a best Logo Design And website designing and development,
                             Ecommerce, SEO solutions with of best quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="background-color: rgba(235, 226, 210, 0.164);">
                        <img class="iconimg"
                            src="/assets/img_box_02.png" alt="">
                        <h3>Our Mission</h3>
                        <p>"Our mission is to empower businesses with strategic digital marketing solutions that drive meaningful 
                            results. We combine creativity, data-driven insights, and industry expertise to create customized 
                            strategies that help our clients increase their online visibility, engage their target audience, and achieve 
                            their business goals. 
                            ."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="background-color: rgba(201, 235, 201, 0.164);">
                        <img class="iconimg"
                            src="/assets/img_box_03.png" alt="">
                        <h3>Our Vision</h3>
                        <p>"Our vision is to empower businesses and brands to thrive in the digital age by delivering strategic, 
                            data-driven, and results-oriented digital marketing solutions. We aspire to be the go-to partner for 
                            organizations seeking to maximize their online presence, reach their target audience effectively, 
                            and achieve measurable growth.".</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>ABOUT FOURTHDM</h2> <br> <br>
                <p style="text-align: justify;"> We have been working in this field for 5 years and counting. During this ongoing journey, We realized
                    that a notable amount of Business owners throughout the world are using Digitization tools and
                    techniques to boost their business. 
                    <br><br>
                    To make use of these tools, business needs data points of various
                    levels; to collect the data points business ought to be digital. Nonetheless very few businesses in
                    India have digital presence, and the rest will be left behind in this AI powered revolution, facing the
                    problem of date scarcity.
                    <br> <br>
                    To resolve this future problem of data scarcity, an immediate action is required to put the business in
                    the digital realm.
                    <br>
                    The Fourth Dimension team is right here to help and establish the digital presence of your business and
                 root it for a better and competitive future.
                    <br> <br>
                    We have an Energetic, Young and Expert team of people who are masters in their domain. With the help of
                    this young talent and guidance of expertise together we can boost our businesses to next level and being
                    a part of this journey to Digital we be able to meet new people. This can expand our reach more number
                    of businesses a way easier.
                    <br> <br>
                    We are excited to be part of your journey towards digitization and increase the reach of your business.
                </p>
                <br>
                <br>
                <button class="btn btn-lg" [routerLink]="['/service']">OUR SERVICES</button>
            </div>
            <div class="col-md-6">
                <img class="image" src="/assets/images/Aboutus.png" alt="">
                <!-- <i class="fa-sharp fa-solid fa-circle fa-2xs wa"></i> -->
            </div>
          
        </div>
        
    <br>
    <!-- <i class="fa-sharp fa-regular fa-circle fa-2xs w"></i> -->
        <div class="row">
            <div class="col-md-6">
                <img class="image" src="/assets/images/whyus.png" alt="">
            </div>
            <div class="col-md-6" style="margin-top: 10%;"> 
                <p>WHY CHOOSE US</p>
                <h2> Best Consulting &
                    Every For Business Ideas</h2>
                <br>
                <p style="text-align: justify; font-size: 17px;">We provide a broad spectrum of Internet and Digital Marketing services. FourthDm is a core marketing
                    company dedicated to addressing your marketing needs so that you can optimize your marketing goals and
                    attain maximum profit”. 
                    <br> <br>
                    Starting from abstraction and blueprinting to the final stroke of execution, we
                    work on your entire digital marketing plan to counter-attack challenges posed by your competitors.</p>
            </div>
        </div>
    </div>
    <br><br>
</div>